{
  "openapi": "3.1.0",
  "info": {
    "title": "Cogfy Messenger Public API",
    "version": "1.0.0",
    "description": "API for interacting with the Cogfy Messenger platform"
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": {}
    }
  ],
  "servers": [
    {
      "url": "https://messenger-public-api.cogfy.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3100",
      "description": "Local server"
    }
  ],
  "paths": {
    "/conversations/{conversationId}": {
      "get": {
        "summary": "Get a conversation by ID",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "conversationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A contact",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "workspaceId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "phoneNumberId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "recipientId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "assigneeId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "lastMessageId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "createDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "serviceWindowExpireDate": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{conversationId}/messages": {
      "get": {
        "summary": "Get all messages in a conversation",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "conversationId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Conversation ID"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "workspaceId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "conversationId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "assistantId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "userId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "broadcastId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "whatsappMessageId": {
                            "type": "string"
                          },
                          "from": {
                            "type": "string"
                          },
                          "to": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "contentData": {
                            "type": "object"
                          },
                          "toolCallId": {
                            "type": "string"
                          },
                          "toolCalls": {
                            "type": "string"
                          },
                          "data": {
                            "type": "string"
                          },
                          "contextId": {
                            "type": "string"
                          },
                          "contextFrom": {
                            "type": "string"
                          },
                          "createDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "sendDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deliverDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "readDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "promptTokens": {
                            "type": "string"
                          },
                          "completionTokens": {
                            "type": "string"
                          },
                          "order": {
                            "type": "number"
                          },
                          "traceId": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "cursors": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Cursor for newer messages"
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Cursor for older messages"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Send a message to a conversation",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "conversationId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Conversation ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Message content. Required for text messages, optional for media messages."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "text",
                      "image",
                      "document"
                    ],
                    "description": "Message type"
                  },
                  "media": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Media file name. Optional."
                      },
                      "mimeType": {
                        "type": "string",
                        "description": "Media MIME type. Required for media messages."
                      },
                      "base64": {
                        "type": "string",
                        "description": "Media file content in base64 encoding. Required for media messages."
                      }
                    }
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Message ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Conversation not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/conversations": {
      "get": {
        "summary": "Get all conversations",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "workspaceId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "phoneNumberId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "recipientId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "assigneeId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "lastMessageId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "createDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "serviceWindowExpireDate": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "cursors": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Cursor for the next page"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/messages/upload-media": {
      "post": {
        "summary": "Upload media to WhatsApp",
        "description": "Uploads a file to WhatsApp Cloud API. Use the returned id as document.id when calling POST /messages/document.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "from",
                  "file"
                ],
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "WhatsApp phone number ID (sender)"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from",
                  "media"
                ],
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "WhatsApp phone number ID (sender)"
                  },
                  "media": {
                    "type": "object",
                    "required": [
                      "mimeType",
                      "base64"
                    ],
                    "properties": {
                      "mimeType": {
                        "type": "string",
                        "description": "MIME type of the file (e.g. application/pdf)"
                      },
                      "base64": {
                        "type": "string",
                        "description": "File bytes as base64 (optional data URL prefix supported)"
                      },
                      "name": {
                        "type": "string",
                        "description": "Filename hint for upload"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "WhatsApp media id (use as document.id for send document)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/broadcasts": {
      "get": {
        "tags": [
          "Broadcasts"
        ],
        "summary": "List all broadcasts",
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "Opaque cursor returned by a previous call, used to fetch the next page",
              "type": "string"
            },
            "description": "Opaque cursor returned by a previous call, used to fetch the next page"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of broadcasts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "status": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createDate": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          }
                        },
                        "required": [
                          "id",
                          "status",
                          "createDate"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "cursors": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "description": "Opaque cursor to fetch the next page. Absent when there are no more results",
                          "type": "string"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Broadcasts"
        ],
        "summary": "Create a new broadcast",
        "description": "Creates a broadcast for a phone number of the workspace.\n\n**Message type (`type`)** and **recipient source** are independent choices — any combination of them is valid:\n\n- `type: text` sends a free-form text message. It only reaches contacts with an open service window (i.e. that messaged the business recently).\n- `type: template` sends an approved WhatsApp template message. Required to reach recipients that never messaged the business or whose service window is closed.\n\n**Recipient source** — exactly one of the following must be provided, regardless of `type`:\n\n- `contactsQuery`: filters contacts already registered in the workspace by tag. The broadcast is created with status `pending` and the recipients are resolved asynchronously; once resolved it moves to `ready` (or `scheduled`).\n- `contacts`: an explicit list of recipients sent in the request body, which does not require the contacts to be registered. The broadcast messages are created synchronously and the broadcast is returned already in status `ready` (or `scheduled`, when `scheduleDate` is provided).\n\nA broadcast in status `ready` is only sent after calling `POST /broadcasts/{broadcastId}/send`. A broadcast in status `scheduled` is sent automatically at `scheduleDate`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "default": "text",
                    "description": "`text` sends a free-form text message. `template` sends an approved WhatsApp template message",
                    "type": "string",
                    "enum": [
                      "text",
                      "template"
                    ]
                  },
                  "title": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Broadcast title, used for identification"
                  },
                  "content": {
                    "description": "Message content. Required when `type` is `text`",
                    "type": "string",
                    "maxLength": 1024
                  },
                  "template": {
                    "description": "Template specification. Required when `type` is `template`",
                    "type": "object",
                    "properties": {
                      "whatsAppId": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Id of the approved WhatsApp template message"
                      }
                    },
                    "required": [
                      "whatsAppId"
                    ]
                  },
                  "phoneNumber": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Id or phone number of the sender phone number"
                  },
                  "contactsQuery": {
                    "description": "Filter for contacts already registered in the workspace. Mutually exclusive with `contacts`",
                    "type": "object",
                    "properties": {
                      "tags": {
                        "description": "Recipients are the contacts that have all the given tags",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "contacts": {
                    "description": "Explicit list of recipients. Mutually exclusive with `contactsQuery`",
                    "minItems": 1,
                    "maxItems": 10000,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "phoneNumber": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Recipient WhatsApp number, digits only, including country code"
                        },
                        "variables": {
                          "description": "Values for the named parameters of the WhatsApp template, keyed by parameter name",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "boolean"
                              }
                            ]
                          }
                        }
                      },
                      "required": [
                        "phoneNumber"
                      ]
                    }
                  },
                  "scheduleDate": {
                    "description": "When provided, the broadcast is scheduled to be sent automatically at this date. Must be in the future",
                    "type": "string"
                  },
                  "batchSize": {
                    "default": 5,
                    "description": "Number of messages sent per batch",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000
                  },
                  "batchInterval": {
                    "default": 1,
                    "description": "Interval in minutes between batches",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 9007199254740991
                  },
                  "allowedSendTimeStart": {
                    "default": "08:00",
                    "description": "Start of the time window in which batches may be sent (HH:MM)",
                    "type": "string",
                    "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$"
                  },
                  "allowedSendTimeEnd": {
                    "default": "18:00",
                    "description": "End of the time window in which batches may be sent (HH:MM)",
                    "type": "string",
                    "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$"
                  },
                  "allowedSendTimeTimezone": {
                    "default": "America/Sao_Paulo",
                    "description": "IANA timezone used to evaluate the allowed send time window",
                    "type": "string"
                  },
                  "whatsappApi": {
                    "default": "cloud_api",
                    "description": "WhatsApp API used to deliver the messages",
                    "type": "string",
                    "enum": [
                      "cloud_api",
                      "mm_api"
                    ]
                  }
                },
                "required": [
                  "title",
                  "phoneNumber"
                ]
              },
              "examples": {
                "templateWithExplicitContacts": {
                  "summary": "Template broadcast for an explicit list of recipients",
                  "value": {
                    "type": "template",
                    "title": "Appointment reminder",
                    "template": {
                      "whatsAppId": "1234567890"
                    },
                    "phoneNumber": "5511999998888",
                    "scheduleDate": "2026-10-30T13:00:00Z",
                    "contacts": [
                      {
                        "phoneNumber": "5599888887777",
                        "variables": {
                          "NAME": "John"
                        }
                      },
                      {
                        "phoneNumber": "5599888886666",
                        "variables": {
                          "NAME": "Mary"
                        }
                      }
                    ]
                  }
                },
                "textWithContactsQuery": {
                  "summary": "Text broadcast for tagged contacts",
                  "value": {
                    "type": "text",
                    "title": "Weekly update",
                    "content": "Hello!",
                    "phoneNumber": "5511999998888",
                    "contactsQuery": {
                      "tags": [
                        {
                          "name": "customers"
                        }
                      ]
                    }
                  }
                },
                "templateWithContactsQuery": {
                  "summary": "Template broadcast for tagged contacts",
                  "value": {
                    "type": "template",
                    "title": "Promotional campaign",
                    "template": {
                      "whatsAppId": "1234567890"
                    },
                    "phoneNumber": "5511999998888",
                    "contactsQuery": {
                      "tags": [
                        {
                          "name": "leads"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Broadcast created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "status": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "`pending` when the recipients still have to be resolved from `contactsQuery`, `ready` when the broadcast is ready to be sent and `scheduled` when it will be sent at `scheduleDate`"
                    },
                    "scheduleDate": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "batchSize": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "batchInterval": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "allowedSendTimeStart": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "allowedSendTimeEnd": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "allowedSendTimeTimezone": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createDate": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    }
                  },
                  "required": [
                    "id",
                    "type",
                    "title",
                    "status",
                    "scheduleDate",
                    "batchSize",
                    "batchInterval",
                    "allowedSendTimeStart",
                    "allowedSendTimeEnd",
                    "allowedSendTimeTimezone",
                    "createDate"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Phone number not found"
          }
        }
      }
    },
    "/broadcasts/{broadcastId}": {
      "get": {
        "tags": [
          "Broadcasts"
        ],
        "summary": "Get a broadcast by ID",
        "parameters": [
          {
            "in": "path",
            "name": "broadcastId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Broadcast details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "status": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createDate": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    }
                  },
                  "required": [
                    "id",
                    "status",
                    "createDate"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Broadcast not found"
          }
        }
      }
    },
    "/broadcasts/{broadcastId}/send": {
      "post": {
        "tags": [
          "Broadcasts"
        ],
        "summary": "Send a broadcast by ID",
        "parameters": [
          {
            "in": "path",
            "name": "broadcastId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Broadcast sent successfully"
          },
          "404": {
            "description": "Broadcast not found"
          },
          "409": {
            "description": "Broadcast is not in a status that can be sent"
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List contacts",
        "description": "Lists the contacts of the workspace, 25 per page.\n\nAny query parameter other than `cursor`, `waId` and `phoneNumber` is treated as a filter on a custom contact property of the workspace — e.g. `?plan=premium` returns the contacts whose `plan` property equals `premium`.\n\nWhen more results are available, `cursors.next` is returned. Pass it back as `cursor` to fetch the next page; the original filters are preserved by the cursor.",
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "Opaque cursor returned by a previous call, used to fetch the next page",
              "type": "string"
            },
            "description": "Opaque cursor returned by a previous call, used to fetch the next page"
          },
          {
            "in": "query",
            "name": "waId",
            "schema": {
              "description": "Filters by the WhatsApp id of the contact",
              "type": "string"
            },
            "description": "Filters by the WhatsApp id of the contact"
          },
          {
            "in": "query",
            "name": "phoneNumber",
            "schema": {
              "description": "Filters by the phone number of the contact",
              "type": "string"
            },
            "description": "Filters by the phone number of the contact"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "waId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "WhatsApp id of the contact"
                          },
                          "waProfileName": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Name in the WhatsApp profile of the contact"
                          },
                          "firstName": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "lastName": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "email": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "phone": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "occupation": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "gender": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "birthdate": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "age": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "notes": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "name"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "createDate": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "updateDate": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "customProperties": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "boolean"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "description": "Values of the custom contact properties of the workspace, keyed by property name"
                          }
                        },
                        "required": [
                          "id",
                          "waId",
                          "waProfileName",
                          "firstName",
                          "lastName",
                          "email",
                          "phone",
                          "occupation",
                          "gender",
                          "birthdate",
                          "age",
                          "notes",
                          "tags",
                          "createDate",
                          "updateDate",
                          "customProperties"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "cursors": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "description": "Opaque cursor to fetch the next page. Absent when there are no more results",
                          "type": "string"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a contact",
        "description": "Creates a contact in the workspace.\n\nTags are linked by `id` or `name` and must already exist in the workspace — unknown tags are ignored. Use `PATCH /contacts/{contactId}/tags` to create tags on demand.\n\n`customProperties` are keyed by property name and only properties already defined in the workspace are persisted.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "lastName": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "email": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "phone": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "occupation": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "gender": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "birthdate": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "age": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "notes": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "tags": {
                    "description": "Tags to link to the contact. Only existing tags are linked",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Id of an existing tag",
                          "type": "string"
                        },
                        "name": {
                          "description": "Name of an existing tag",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "customProperties": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    },
                    "description": "Values for the custom contact properties of the workspace, keyed by property name"
                  }
                }
              },
              "examples": {
                "complete": {
                  "summary": "Contact with tags and custom properties",
                  "value": {
                    "firstName": "John",
                    "lastName": "Doe",
                    "email": "john.doe@example.com",
                    "phone": "5511999998888",
                    "occupation": "Developer",
                    "notes": "Met at the conference",
                    "tags": [
                      {
                        "name": "customers"
                      }
                    ],
                    "customProperties": {
                      "plan": "premium"
                    }
                  }
                },
                "minimal": {
                  "summary": "Contact with a phone number only",
                  "value": {
                    "phone": "5511999998888"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "Id of the created contact"
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/contacts/{contactId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a contact by id",
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "waId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "WhatsApp id of the contact"
                    },
                    "waProfileName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Name in the WhatsApp profile of the contact"
                    },
                    "firstName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "fullName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "email": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "phone": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "occupation": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "gender": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "birthdate": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "age": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "notes": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "createDate": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "updateDate": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "customProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "description": "Values of the custom contact properties of the workspace, keyed by property name"
                    }
                  },
                  "required": [
                    "id",
                    "waId",
                    "waProfileName",
                    "firstName",
                    "lastName",
                    "fullName",
                    "email",
                    "phone",
                    "occupation",
                    "gender",
                    "birthdate",
                    "age",
                    "notes",
                    "tags",
                    "createDate",
                    "updateDate",
                    "customProperties"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Contact not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a contact",
        "description": "Updates the given fields of a contact. Omitted fields are left untouched; sending `null` clears the field.\n\nTags are linked by `id` or `name` and must already exist in the workspace — unknown tags are ignored. Use `PATCH /contacts/{contactId}/tags` to create tags on demand.",
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "lastName": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "email": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "phone": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "occupation": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "gender": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "birthdate": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "age": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "notes": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "tags": {
                    "description": "Only tags that already exist in the workspace are linked",
                    "type": "object",
                    "properties": {
                      "add": {
                        "description": "Tags to link to the contact, keeping the current ones",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "description": "Id of an existing tag",
                              "type": "string"
                            },
                            "name": {
                              "description": "Name of an existing tag",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "remove": {
                        "description": "Tags to unlink from the contact",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "description": "Id of an existing tag",
                              "type": "string"
                            },
                            "name": {
                              "description": "Name of an existing tag",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "set": {
                        "description": "Replaces all tags of the contact. When provided, `add` and `remove` are ignored",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "description": "Id of an existing tag",
                              "type": "string"
                            },
                            "name": {
                              "description": "Name of an existing tag",
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "customProperties": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    },
                    "description": "Values for the custom contact properties of the workspace, keyed by property name"
                  }
                }
              },
              "examples": {
                "fields": {
                  "summary": "Update contact fields",
                  "value": {
                    "firstName": "John",
                    "occupation": "Engineering Manager"
                  }
                },
                "tags": {
                  "summary": "Add and remove tags",
                  "value": {
                    "tags": {
                      "add": [
                        {
                          "name": "customers"
                        }
                      ],
                      "remove": [
                        {
                          "name": "leads"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Contact updated successfully"
          },
          "400": {
            "description": "Bad request, invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Contact not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a contact",
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "Id of the deleted contact"
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Contact not found"
          }
        }
      }
    },
    "/contacts/{contactId}/tags": {
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update the tags of a contact",
        "description": "Links and unlinks tags of a contact. Each tag is referenced by `id` or by `name`.\n\nUnlike the `tags` field of `PATCH /contacts/{contactId}`, a tag referenced by `name` is created when it does not exist yet, and referencing an `id` that does not exist in the workspace returns `404`.\n\nWhen `set` is provided it replaces all tags of the contact and `add`/`remove` are ignored. At most 10 tags per field.",
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "add": {
                    "description": "Tags to link to the contact, keeping the current ones",
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Id of an existing tag",
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "name": {
                          "description": "Name of the tag. The tag is created when it does not exist yet",
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  },
                  "remove": {
                    "description": "Tags to unlink from the contact",
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Id of an existing tag",
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "name": {
                          "description": "Name of the tag. The tag is created when it does not exist yet",
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  },
                  "set": {
                    "description": "Replaces all tags of the contact. When provided, `add` and `remove` are ignored",
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Id of an existing tag",
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "name": {
                          "description": "Name of the tag. The tag is created when it does not exist yet",
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "addAndRemove": {
                  "summary": "Add and remove tags",
                  "value": {
                    "add": [
                      {
                        "name": "customers"
                      }
                    ],
                    "remove": [
                      {
                        "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      }
                    ]
                  }
                },
                "set": {
                  "summary": "Replace all tags",
                  "value": {
                    "set": [
                      {
                        "name": "customers"
                      },
                      {
                        "name": "vip"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Tags updated successfully"
          },
          "400": {
            "description": "Bad request, invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Contact or tag not found"
          }
        }
      }
    },
    "/conversation-sessions/enqueue": {
      "post": {
        "tags": [
          "Conversation sessions"
        ],
        "summary": "Enqueue a conversation session",
        "description": "Enqueues the open conversation session for a contact into a queue and persists the observation as transfer_observation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "waId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Contact WhatsApp ID"
                  },
                  "phoneNumberWaId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Business phone WhatsApp ID"
                  },
                  "queueId": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                    "description": "Queue id"
                  },
                  "observation": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 400,
                    "description": "Observation persisted on the session as transfer_observation"
                  }
                },
                "required": [
                  "waId",
                  "phoneNumberWaId",
                  "queueId",
                  "observation"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session enqueued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "conversationId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "status": {
                      "type": "string"
                    },
                    "currentQueueId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "enqueueDate": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ticketId": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "transferObservation": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "conversationId",
                    "status",
                    "currentQueueId",
                    "enqueueDate",
                    "ticketId",
                    "transferObservation"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Queue, conversation, or open session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/messages/text": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send text message",
        "description": "Requires an open service window: the recipient must have messaged the business in the last 24 hours. Use `POST /messages/template` to reach recipients outside that window.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "minLength": 1,
                    "description": "WhatsApp id of the sender phone number"
                  },
                  "to": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Recipient phone number, digits only, including country code"
                  },
                  "text": {
                    "type": "object",
                    "properties": {
                      "body": {
                        "type": "string",
                        "description": "Message body"
                      }
                    },
                    "required": [
                      "body"
                    ],
                    "description": "Text content of the message"
                  }
                },
                "required": [
                  "from",
                  "to",
                  "text"
                ]
              },
              "examples": {
                "text": {
                  "summary": "Simple text message",
                  "value": {
                    "from": "5511999998888",
                    "to": "5599888887777",
                    "text": {
                      "body": "Hello!"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "Id of the created message"
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Sender phone number not found or not linked to a WhatsApp Business Account"
          }
        }
      }
    },
    "/messages/image": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send image message",
        "description": "Provide either `id`, for a media previously uploaded through `POST /messages/upload-media`, or `link`, a public URL WhatsApp can download from.\n\nRequires an open service window: the recipient must have messaged the business in the last 24 hours. Use `POST /messages/template` to reach recipients outside that window.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "minLength": 1,
                    "description": "WhatsApp id of the sender phone number"
                  },
                  "to": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Recipient phone number, digits only, including country code"
                  },
                  "image": {
                    "description": "The image to send. Provide either `id` or `link`",
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Id of a media uploaded through `POST /messages/upload-media`",
                        "type": "string"
                      },
                      "link": {
                        "description": "Public URL of the media",
                        "type": "string",
                        "format": "uri"
                      },
                      "caption": {
                        "description": "Caption shown with the image",
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "from",
                  "to"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "Id of the created message"
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Sender phone number not found or not linked to a WhatsApp Business Account"
          }
        }
      }
    },
    "/messages/video": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send video message",
        "description": "Provide either `id`, for a media previously uploaded through `POST /messages/upload-media`, or `link`, a public URL WhatsApp can download from.\n\nRequires an open service window: the recipient must have messaged the business in the last 24 hours. Use `POST /messages/template` to reach recipients outside that window.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "minLength": 1,
                    "description": "WhatsApp id of the sender phone number"
                  },
                  "to": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Recipient phone number, digits only, including country code"
                  },
                  "video": {
                    "description": "The video to send. Provide either `id` or `link`",
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Id of a media uploaded through `POST /messages/upload-media`",
                        "type": "string"
                      },
                      "link": {
                        "description": "Public URL of the media",
                        "type": "string",
                        "format": "uri"
                      },
                      "caption": {
                        "description": "Caption shown with the video",
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "from",
                  "to"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "Id of the created message"
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Sender phone number not found or not linked to a WhatsApp Business Account"
          }
        }
      }
    },
    "/messages/audio": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send audio message",
        "description": "Provide either `id`, for a media previously uploaded through `POST /messages/upload-media`, or `link`, a public URL WhatsApp can download from.\n\nRequires an open service window: the recipient must have messaged the business in the last 24 hours. Use `POST /messages/template` to reach recipients outside that window.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "minLength": 1,
                    "description": "WhatsApp id of the sender phone number"
                  },
                  "to": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Recipient phone number, digits only, including country code"
                  },
                  "audio": {
                    "description": "The audio to send. Provide either `id` or `link`",
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Id of a media uploaded through `POST /messages/upload-media`",
                        "type": "string"
                      },
                      "link": {
                        "description": "Public URL of the media",
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                },
                "required": [
                  "from",
                  "to"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "Id of the created message"
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Sender phone number not found or not linked to a WhatsApp Business Account"
          }
        }
      }
    },
    "/messages/document": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send document message",
        "description": "Provide either `id`, for a media previously uploaded through `POST /messages/upload-media`, or `link`, a public URL WhatsApp can download from.\n\nRequires an open service window: the recipient must have messaged the business in the last 24 hours. Use `POST /messages/template` to reach recipients outside that window.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "minLength": 1,
                    "description": "WhatsApp id of the sender phone number"
                  },
                  "to": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Recipient phone number, digits only, including country code"
                  },
                  "document": {
                    "description": "The document to send. Provide either `id` or `link`",
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Id of a media uploaded through `POST /messages/upload-media`",
                        "type": "string"
                      },
                      "link": {
                        "description": "Public URL of the media",
                        "type": "string",
                        "format": "uri"
                      },
                      "caption": {
                        "description": "Caption shown with the document",
                        "type": "string"
                      },
                      "filename": {
[...]
