/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.connection-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px
}

.connection-card {
  display: flex;
  align-items: center;
  gap: 12px
}

.connection-card img {
  border-radius: 6px;
  height: 36px;
  width: 36px;
}

.connection-card p {
  margin: 0;
}

p.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 12px;
  align-items: baseline;
}

.input__wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.input__name {
  font-weight: 600;
}

.input__type {
  font-family: var(--ifm-font-family-monospace);
  font-size: 12px;
  background-color: var(--ifm-code-background);
  border: .1rem solid #0000001a;
  border-radius: var(--ifm-code-border-radius);
  padding: 0 6px;
}

.input__required {
  font-family: var(--ifm-font-family-monospace);
  color: red;
  font-size: 14px;
}

.input__default {
  margin-left: 32px;
  font-family: var(--ifm-font-family-monospace);
  opacity: 0.6
}

.input__description p {
  margin: 0;
}

.option {
  display: flex;
  justify-content: space-between;
  gap: 32px
}

.option__value {
  font-family: var(--ifm-font-family-monospace);
  font-size: 14px;
  opacity: 0.6;
  font-style: italic;
}

.options-list {
  width: max-content
}

.content {
  margin-left: 16px
}

.providers-cost-table {
  font-size: 0.85rem;
}

.providers-cost-table th {
  white-space: nowrap;
}

